{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image-icon" href="{% static 'images/icon.jpg' %}"> 
  <title>CLASSROOM RESERVATION SYSTEM - Classroom</title>
  <!-- CSS link-->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
/>
</head>

<body>

  <div class="header">
    <a href="admin.html">
      <img src="{% static 'images/logoECS.png' %}" alt="" height="80" width="80">
    </a>
    <div>
      <h1>Classroom reservation system</h1>
      <p>Deprtment of Elecrical Engineering Faculty of Engineering and Industrial Technology<br> Silpakorn University</p>
    </div>
  </div>

  <div id="navbar">
    <a href="/userclassroom">Classroom</a>
    <a class="active" href="/reservationlist">Reservation list</a>
    <a href="/booking">Reservation form</a>
    <a href="/" class="button-logout" style="float:right"><span>Log out</span></a>
  </div>
  
  <div class="content">

  </div>

  <div class="table-container">

    <table id="customers">
      <tr>
        <th>No.</th>
        <th>Classroom</th>
        <th>Booker’s name</th>
        <th>Seats</th>
        <th>Detetime</th>
        <th>Note</th>
        <th></th>
      </tr>
<!-- ต้องแก้ตอนลิ้งข้อมูลจากฐานข้อมูลมาอีกที-->
      {% for booking in all_booking %}
      <tr>
        <td>{{booking.id}}</td>
        <td>{{booking.classroom}}</td>
        <td>{{booking.namebooker}}</td>
        <td>{{booking.seatsuse}}</td>
        <td>{{booking.datetime}}</td>
        <td>{{booking.note}}</td>
        <td class="button">
          <a href="deletebooking/{{booking.id}}" onclick="return confirm ('คุณต้องการยกเลิกการจอง No. {{booking.id}} หรือไม่ ?')"class="button-red" >Cancel</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <!-- JS link-->
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>